.home-old-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.home-old-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ba719;
}
.home-old-text {
  color: rgb(255, 255, 255);
}
.home-old-text02 {
  font-weight: 800;
}
.home-old-navbar {
  width: 100%;
  height: 18px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-old-logo {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 600;
}
.home-old-image {
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.home-old-desktop-menu {
  display: flex;
}
.home-old-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-old-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-link01 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-link02 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-old-socials {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-old-image01 {
  width: 19px;
  height: 19px;
  object-fit: cover;
  text-decoration: none;
}
.home-old-image02 {
  width: 19px;
  height: 19px;
  object-fit: cover;
  text-decoration: none;
}
.home-old-icon {
  width: 24px;
  height: 24px;
}
.home-old-icon02 {
  width: 24px;
  height: 24px;
}
.home-old-icon04 {
  width: 24px;
  height: 24px;
}
.home-old-view {
  text-decoration: none;
}
.home-old-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-old-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-old-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-old-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-old-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-old-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-old-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-old-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-old-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-old-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-old-container03 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-old-hero {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 485px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-old-heading {
  gap: var(--dl-space-space-twounits);
  height: 398px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-old-header {
  color: rgb(255, 255, 255);
  height: 242px;
  z-index: 100;
  font-size: 126px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 125px;
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.home-old-caption {
  color: rgb(255, 255, 255);
  width: 732px;
  z-index: 100;
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.home-old-image03 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  margin: auto;
  opacity: 0.15;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
.home-old-buttons {
  gap: var(--dl-space-space-threeunits);
  height: 78px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-old-view1 {
  text-decoration: none;
}
.home-old-learn {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-logos {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 141px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-old-container04 {
  width: 903px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-old-image04 {
  width: 216px;
  height: 50%;
  opacity: 0.12;
  object-fit: contain;
}
.home-old-image05 {
  width: 200px;
  object-fit: cover;
}
.home-old-link08 {
  display: contents;
}
.home-old-image06 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-old-logos1 {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 141px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-old-container05 {
  width: 903px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-old-image07 {
  width: 229px;
  height: 94px;
  opacity: 0.12;
  object-fit: contain;
}
.home-old-image08 {
  width: 200px;
  opacity: 0.12;
  object-fit: cover;
}
.home-old-project {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-old-understand {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-old-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 710px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-caption1 {
  color: rgb(255, 207, 119);
  letter-spacing: 1.45px;
}
.home-old-heading1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-header1 {
  color: rgb(255, 255, 255);
  width: 620px;
  height: 189px;
  font-size: 3.7rem;
}
.home-old-header2 {
  color: rgb(255, 255, 255);
  height: 258px;
}
.home-old-view2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 121px;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.home-old-text19 {
  font-size: 19px;
}
.home-old-image09 {
  width: 25px;
  object-fit: cover;
}
.home-old-image10 {
  width: 480px;
  object-fit: cover;
}
.home-old-buy {
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-old-content1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #FFCF77;
}
.home-old-main {
  gap: var(--dl-space-space-threeunits);
  height: 292px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-old-heading2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-old-header3 {
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.home-old-caption2 {
  display: none;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home-old-caption3 {
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.home-old-view3 {
  background-color: rgb(157, 218, 219);
}
.home-old-caption4 {
  display: none;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home-old-iframe {
  width: 390px;
  height: 900px;
  display: none;
}
.home-old-image11 {
  width: 100%;
  object-fit: cover;
}
.home-old-heading3 {
  color: #ffffff;
  height: 146px;
  font-size: 3.5rem;
  margin-top: var(--dl-space-space-fiveunits);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-old-tokenomics {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 349px;
  display: flex;
  max-width: 1440px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-old-row {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  flex-direction: row;
}
.home-old-column {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-old-card {
  height: 556px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFCF77;
}
.home-old-column1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-old-card1 {
  width: 258px;
  height: 567px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #676767;
}
.home-old-text39 {
  color: rgb(255, 255, 255);
}
.home-old-column2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-old-card2 {
  gap: Unit;
  width: 100%;
  height: 523px;
  display: flex;
  padding: 16px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #8FA7DF;
}
.home-old-content2 {
  gap: var(--dl-space-space-unit);
  width: 353px;
  height: 218px;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-header4 {
  color: rgb(0, 0, 0);
  height: 95px;
}
.home-old-description {
  color: rgb(0, 0, 0);
  width: 100%;
  height: 172px;
  font-size: 19px;
  max-width: 500px;
  line-height: 27px;
}
.home-old-link09 {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-old-buy1 {
  width: 100%;
  height: 809px;
  display: flex;
  max-width: 1440px;
  margin-top: 160px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 13px;
}
.home-old-content3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 645px;
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  align-items: center;
  padding-top: 44px;
  flex-direction: column;
  background-color: #FFCF77;
}
.home-old-main1 {
  gap: var(--dl-space-space-threeunits);
  height: 261px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-old-heading4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-old-header5 {
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.home-old-caption5 {
  width: 724px;
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.home-old-text48 {
  text-align: center;
}
.home-old-text51 {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;
  text-decoration: none;
}
.home-old-text57 {
  text-align: center;
}
.home-old-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 299px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 0px;
}
.home-old-main2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-old-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-old-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-heading5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-logo2 {
  color: rgb(255, 255, 255);
}
.home-old-caption6 {
  color: rgb(255, 255, 255);
}
.home-old-container07 {
  gap: 20px;
  width: 386px;
  height: 46px;
  display: flex;
  margin-top: 25px;
  align-items: flex-start;
}
.home-old-link10 {
  display: contents;
}
.home-old-image12 {
  width: 29px;
  height: 29px;
  object-fit: cover;
  text-decoration: none;
}
.home-old-link11 {
  display: contents;
}
.home-old-image13 {
  width: 29px;
  height: 29px;
  object-fit: cover;
  text-decoration: none;
}
.home-old-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-old-list {
  gap: var(--dl-space-space-threeunits);
  width: 136px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-heading6 {
  color: rgb(255, 255, 255);
}
.home-old-items {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-old-link12 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-link13 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-link14 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-old-copyright {
  color: rgb(255, 255, 255);
}
.home-old-container09 {
  display: contents;
}
@media(max-width: 991px) {
  .home-old-desktop-menu {
    display: none;
  }
  .home-old-btn-group {
    display: none;
  }
  .home-old-burger-menu {
    display: flex;
  }
  .home-old-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-old-logo1 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-old-link06 {
    text-decoration: none;
  }
  .home-old-header {
    color: rgb(255, 255, 255);
    width: 608px;
    height: 201px;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
  }
  .home-old-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-old-project {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-old-understand {
    align-items: center;
    flex-direction: column;
  }
  .home-old-header1 {
    height: 211px;
    font-size: 3.7rem;
  }
  .home-old-heading2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-caption2 {
    text-align: center;
  }
  .home-old-caption3 {
    text-align: center;
  }
  .home-old-text20 {
    text-align: center;
  }
  .home-old-view3 {
    background-color: rgb(157, 218, 219);
  }
  .home-old-caption4 {
    text-align: center;
  }
  .home-old-heading3 {
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-old-tokenomics {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-old-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    height: 555px;
    align-items: center;
    justify-content: center;
  }
  .home-old-column {
    flex: 1;
    align-items: flex-start;
  }
  .home-old-card {
    width: 421px;
    aspect-ratio: 0.85;
    justify-content: center;
  }
  .home-old-text24 {
    font-size: 16px;
  }
  .home-old-text26 {
    text-decoration: line-through;
  }
  .home-old-text27 {
    text-decoration: line-through;
  }
  .home-old-text28 {
    text-decoration: line-through;
  }
  .home-old-text29 {
    text-decoration: line-through;
  }
  .home-old-text30 {
    text-decoration: line-through;
  }
  .home-old-text31 {
    text-decoration: inherit;
  }
  .home-old-column1 {
    flex: 1;
    align-items: flex-end;
  }
  .home-old-card1 {
    width: 317px;
    aspect-ratio: 0.85;
  }
  .home-old-text39 {
    font-size: 24px;
  }
  .home-old-column2 {
    width: 100%;
  }
  .home-old-card2 {
    height: 350px;
  }
  .home-old-content2 {
    width: 524px;
  }
  .home-old-description {
    color: rgb(0, 0, 0);
    width: 462px;
    font-size: 24px;
    line-height: 27px;
  }
  .home-old-heading4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-caption5 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-old-navbar {
    width: 767px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-old-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-old-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-old-header {
    color: rgb(255, 255, 255);
    height: 282px;
    font-size: 90px;
    max-width: 70%;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
  }
  .home-old-caption {
    height: 116px;
    font-size: 16px;
    line-height: 24px;
  }
  .home-old-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-old-buttons {
    height: 93px;
  }
  .home-old-logos {
    gap: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-old-container04 {
    width: 672px;
  }
  .home-old-logos1 {
    gap: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-old-container05 {
    width: auto;
  }
  .home-old-project {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-old-understand {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-old-header1 {
    font-size: 3.3rem;
  }
  .home-old-header2 {
    height: 307px;
  }
  .home-old-view2 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-old-image10 {
    width: 100%;
  }
  .home-old-buy {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-old-content1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-old-main {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .home-old-header3 {
    font-size: 36px;
    line-height: 43px;
  }
  .home-old-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-old-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-old-text20 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-old-caption4 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-old-image11 {
    width: 100%;
  }
  .home-old-tokenomics {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-row {
    gap: var(--dl-space-space-oneandhalfunits);
    height: 555px;
  }
  .home-old-card {
    width: 343px;
    height: 578px;
    padding: var(--dl-space-space-unit);
  }
  .home-old-text24 {
    font-size: 16px;
  }
  .home-old-text26 {
    text-decoration: line-through;
  }
  .home-old-text27 {
    text-decoration: line-through;
  }
  .home-old-text28 {
    text-decoration: line-through;
  }
  .home-old-text29 {
    text-decoration: line-through;
  }
  .home-old-text30 {
    text-decoration: line-through;
  }
  .home-old-text31 {
    text-decoration: inherit;
  }
  .home-old-card1 {
    width: 330px;
    height: 559px;
    padding: var(--dl-space-space-unit);
  }
  .home-old-card2 {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-old-content2 {
    align-items: center;
  }
  .home-old-header4 {
    font-size: 32px;
    text-align: center;
  }
  .home-old-description {
    width: 548px;
    height: 101px;
    font-size: 19px;
    text-align: center;
    line-height: 21px;
  }
  .home-old-link09 {
    margin-top: 0px;
  }
  .home-old-buy1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-old-content3 {
    height: 573px;
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-old-main1 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .home-old-header5 {
    font-size: 36px;
    line-height: 43px;
  }
  .home-old-caption5 {
    width: 472px;
    font-size: 19px;
    line-height: 24px;
  }
  .home-old-footer {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-old-main2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-old-heading5 {
    gap: var(--dl-space-space-unit);
  }
  .home-old-logo2 {
    font-size: 20px;
    line-height: 24px;
  }
  .home-old-caption6 {
    width: 80%;
    font-size: 12px;
    line-height: 18px;
  }
  .home-old-links {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    justify-content: flex-start;
  }
  .home-old-list {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-old-text {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
  }
  .home-old-text02 {
    font-weight: 800;
  }
  .home-old-navbar {
    width: 100vw;
    height: 68px;
    padding: var(--dl-space-space-unit);
  }
  .home-old-mobile-menu {
    padding: 16px;
  }
  .home-old-hero {
    height: 320px;
    position: relative;
  }
  .home-old-heading {
    width: 386px;
    height: 329px;
  }
  .home-old-header {
    color: rgb(255, 255, 255);
    width: auto;
    height: 150px;
    font-size: 53px;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
  }
  .home-old-caption {
    color: rgb(255, 255, 255);
    width: 395px;
    height: 135px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .home-old-text08 {
    font-size: 16px;
  }
  .home-old-text09 {
    font-size: 16px;
  }
  .home-old-text10 {
    font-size: 16px;
  }
  .home-old-text11 {
    font-size: 16px;
  }
  .home-old-text12 {
    font-size: 16px;
  }
  .home-old-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    margin: auto;
  }
  .home-old-buttons {
    left: auto;
    width: 282px;
    bottom: auto;
    height: auto;
    position: relative;
  }
  .home-old-container04 {
    width: 408px;
    justify-content: space-between;
  }
  .home-old-image04 {
    width: 100px;
  }
  .home-old-image05 {
    width: 100px;
  }
  .home-old-image06 {
    width: 100px;
  }
  .home-old-container05 {
    width: 408px;
    height: 140px;
    justify-content: space-between;
  }
  .home-old-image07 {
    width: 100px;
  }
  .home-old-image08 {
    width: 100px;
  }
  .home-old-header1 {
    color: rgb(255, 255, 255);
    width: 343px;
    height: 229px;
    font-size: 2.7rem;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .home-old-header2 {
    color: rgb(255, 255, 255);
    height: auto;
  }
  .home-old-view2 {
    height: 108px;
  }
  .home-old-buy {
    width: 411px;
    height: 392px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-old-content1 {
    width: 425px;
    height: 100%;
  }
  .home-old-main {
    height: 204px;
  }
  .home-old-image11 {
    width: 100%;
  }
  .home-old-heading3 {
    height: 96px;
    font-size: 2.7rem;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-old-tokenomics {
    width: 100%;
  }
  .home-old-row {
    width: auto;
    height: 314px;
  }
  .home-old-column {
    width: 190px;
  }
  .home-old-card {
    width: 170px;
    height: 343px;
  }
  .home-old-text24 {
    font-size: 16px;
  }
  .home-old-text26 {
    text-decoration: line-through;
  }
  .home-old-text27 {
    text-decoration: line-through;
  }
  .home-old-text28 {
    text-decoration: inherit;
  }
  .home-old-text29 {
    text-decoration: line-through;
  }
  .home-old-text30 {
    text-decoration: line-through;
  }
  .home-old-text31 {
    text-decoration: inherit;
  }
  .home-old-column1 {
    width: 50%;
  }
  .home-old-card1 {
    width: 189px;
    height: 371px;
    justify-content: center;
  }
  .home-old-card2 {
    height: 361px;
  }
  .home-old-content2 {
    width: 100%;
    height: 265px;
  }
  .home-old-description {
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    font-size: 19px;
    line-height: 27px;
  }
  .home-old-buy1 {
    width: 416px;
    height: 780px;
    margin-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-old-content3 {
    width: auto;
    height: 721px;
  }
  .home-old-caption5 {
    width: auto;
    height: auto;
    font-size: 19px;
    line-height: 32px;
  }
  .home-old-text48 {
    font-size: 1.1rem;
  }
  .home-old-text51 {
    text-transform: none;
  }
  .home-old-text57 {
    font-size: 1.1rem;
  }
  .home-old-footer {
    width: 100%;
    height: auto;
  }
  .home-old-container06 {
    height: 114px;
  }
  .home-old-caption6 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 18px;
  }
}
