.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #27272D;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1ba719;
}
.home-text {
  color: rgb(255, 255, 255);
}
.home-text02 {
  font-weight: 800;
}
.home-navbar {
  width: 100%;
  height: 18px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-style: normal;
  font-family: "PT Sans";
  font-weight: 600;
}
.home-image {
  width: 41px;
  height: 41px;
  object-fit: cover;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link01 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link02 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-btn-group {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-socials {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image01 {
  width: 19px;
  height: 19px;
  object-fit: cover;
  text-decoration: none;
}
.home-image02 {
  width: 19px;
  height: 19px;
  object-fit: cover;
  text-decoration: none;
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-icon04 {
  width: 24px;
  height: 24px;
}
.home-view {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo1 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.home-hero {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 485px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-twounits);
  height: 398px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-header {
  color: rgb(255, 255, 255);
  height: 242px;
  z-index: 100;
  font-size: 126px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 125px;
  animation-name: fadeInUp;
  animation-delay: 0s;
  animation-duration: 600ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.home-caption {
  color: rgb(255, 255, 255);
  width: 732px;
  z-index: 100;
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.home-image03 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 100%;
  margin: auto;
  opacity: 0.15;
  z-index: 10;
  position: absolute;
  object-fit: cover;
}
.home-buttons {
  gap: var(--dl-space-space-threeunits);
  height: 78px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-view1 {
  text-decoration: none;
}
.home-view2 {
  text-decoration: none;
  background-color: #9154f7;
}
.home-learn {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-logos {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 141px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-container04 {
  width: 903px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-image04 {
  width: 133px;
  height: 64px;
  opacity: 0.12;
  object-fit: contain;
}
.home-link08 {
  display: contents;
}
.home-image05 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-link09 {
  display: contents;
}
.home-image06 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
.home-logos1 {
  gap: var(--dl-space-space-sixunits);
  width: 100%;
  height: 141px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
}
.home-container05 {
  width: 903px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-link10 {
  display: contents;
}
.home-image07 {
  width: 150px;
  height: 61px;
  object-fit: contain;
  text-decoration: none;
}
.home-link11 {
  display: contents;
}
.home-image08 {
  width: 139px;
  height: 26px;
  object-fit: cover;
  text-decoration: none;
}
.home-image09 {
  width: 200px;
  opacity: 0.12;
  object-fit: cover;
}
.home-project {
  gap: 120px;
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home-understand {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 710px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption1 {
  color: rgb(255, 207, 119);
  letter-spacing: 1.45px;
}
.home-heading1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  color: rgb(255, 255, 255);
  width: 620px;
  height: 189px;
  font-size: 3.7rem;
}
.home-header2 {
  color: rgb(255, 255, 255);
  height: 258px;
}
.home-view3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 121px;
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.home-text19 {
  font-size: 19px;
}
.home-image10 {
  width: 25px;
  object-fit: cover;
}
.home-image11 {
  width: 480px;
  object-fit: cover;
}
.home-buy {
  width: 100%;
  height: 609px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 29px;
}
.home-content1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 582px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: #FFCF77;
}
.home-main {
  gap: var(--dl-space-space-threeunits);
  height: 309px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header3 {
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.home-caption2 {
  display: none;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home-caption3 {
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.home-container06 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-view4 {
  text-decoration: none;
  background-color: #fdaf0f;
}
.home-view5 {
  text-decoration: none;
  background-color: #9154f7;
}
.home-image12 {
  width: 100%;
  height: 209px;
  object-fit: cover;
}
.home-heading3 {
  color: #ffffff;
  height: 146px;
  font-size: 3.5rem;
  margin-top: var(--dl-space-space-fiveunits);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-tokenomics {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 349px;
  display: flex;
  max-width: 1440px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-row {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  flex-direction: row;
}
.home-column {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-card {
  height: 556px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #FFCF77;
}
.home-text23 {
  font-size: 16px;
}
.home-column1 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-card1 {
  width: 258px;
  height: 567px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #676767;
}
.home-text38 {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.home-column2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-card2 {
  gap: Unit;
  width: 100%;
  height: 523px;
  display: flex;
  padding: 16px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #8FA7DF;
}
.home-content2 {
  gap: var(--dl-space-space-unit);
  width: 353px;
  height: 218px;
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header4 {
  color: rgb(0, 0, 0);
  height: 95px;
}
.home-description {
  color: rgb(0, 0, 0);
  width: 100%;
  height: 172px;
  font-size: 19px;
  max-width: 500px;
  line-height: 27px;
}
.home-link12 {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-buy1 {
  width: 100%;
  height: 809px;
  display: flex;
  max-width: 1440px;
  margin-top: 160px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 13px;
}
.home-content3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 645px;
  display: flex;
  overflow: hidden;
  margin-top: 0px;
  align-items: center;
  padding-top: 44px;
  flex-direction: column;
  background-color: #FFCF77;
}
.home-main1 {
  gap: var(--dl-space-space-threeunits);
  height: 261px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header5 {
  font-size: 90px;
  max-width: 900px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 108px;
}
.home-caption4 {
  width: 724px;
  font-size: 24px;
  max-width: 800px;
  text-align: center;
  line-height: 36px;
}
.home-text47 {
  text-align: center;
}
.home-text50 {
  font-size: 1.1rem;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.2;
  text-transform: none;
  text-decoration: none;
}
.home-text56 {
  text-align: center;
}
.home-footer {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 430px;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 0px;
}
.home-main2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-logo2 {
  color: rgb(255, 255, 255);
}
.home-caption5 {
  color: rgb(255, 255, 255);
}
.home-container08 {
  gap: 20px;
  width: 386px;
  height: 46px;
  display: flex;
  margin-top: 25px;
  align-items: flex-start;
}
.home-link13 {
  display: contents;
}
.home-image13 {
  width: 29px;
  height: 29px;
  object-fit: cover;
  text-decoration: none;
}
.home-link14 {
  display: contents;
}
.home-image14 {
  width: 29px;
  height: 29px;
  object-fit: cover;
  text-decoration: none;
}
.home-links {
  gap: 120px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-list {
  gap: var(--dl-space-space-threeunits);
  width: 136px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading6 {
  color: rgb(255, 255, 255);
}
.home-items {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link15 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link16 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-link17 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-text61 {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.home-copyright {
  color: rgb(255, 255, 255);
}
.home-container10 {
  display: contents;
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-btn-group {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button {
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-direction: row;
  }
  .home-logo1 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .home-link06 {
    text-decoration: none;
  }
  .home-header {
    color: rgb(255, 255, 255);
    width: 608px;
    height: 201px;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
  }
  .home-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-project {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-understand {
    align-items: center;
    flex-direction: column;
  }
  .home-header1 {
    height: 211px;
    font-size: 3.7rem;
  }
  .home-heading2 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption2 {
    text-align: center;
  }
  .home-caption3 {
    text-align: center;
  }
  .home-text20 {
    text-align: center;
  }
  .home-view4 {
    background-color: #fdaf0f;
  }
  .home-view5 {
    background-color: #9154f7;
  }
  .home-heading3 {
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-tokenomics {
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    height: 555px;
    align-items: center;
    justify-content: center;
  }
  .home-column {
    flex: 1;
    align-items: flex-start;
  }
  .home-card {
    width: 421px;
    aspect-ratio: 0.85;
    justify-content: center;
  }
  .home-text23 {
    font-size: 16px;
  }
  .home-column1 {
    flex: 1;
    align-items: flex-end;
  }
  .home-card1 {
    width: 317px;
    aspect-ratio: 0.85;
  }
  .home-text38 {
    font-size: 20px;
  }
  .home-column2 {
    width: 100%;
  }
  .home-card2 {
    height: 350px;
  }
  .home-content2 {
    width: 524px;
  }
  .home-description {
    color: rgb(0, 0, 0);
    width: 462px;
    font-size: 24px;
    line-height: 27px;
  }
  .home-heading4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption4 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    width: 767px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-hero {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-heading {
    gap: var(--dl-space-space-unit);
  }
  .home-header {
    color: rgb(255, 255, 255);
    height: 282px;
    font-size: 90px;
    max-width: 70%;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
  }
  .home-caption {
    height: 116px;
    font-size: 16px;
    line-height: 24px;
  }
  .home-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .home-buttons {
    height: 93px;
  }
  .home-logos {
    gap: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-container04 {
    width: 672px;
  }
  .home-logos1 {
    gap: var(--dl-space-space-threeunits);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-container05 {
    width: auto;
  }
  .home-project {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .home-understand {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading1 {
    gap: var(--dl-space-space-unit);
  }
  .home-header1 {
    font-size: 3.3rem;
  }
  .home-header2 {
    height: 307px;
  }
  .home-view3 {
    margin-top: var(--dl-space-space-unit);
  }
  .home-image11 {
    width: 100%;
  }
  .home-buy {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-main {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading2 {
    gap: var(--dl-space-space-unit);
  }
  .home-header3 {
    font-size: 36px;
    line-height: 43px;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text20 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-view5 {
    background-color: #9154f7;
  }
  .home-image12 {
    width: 100%;
  }
  .home-tokenomics {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-row {
    gap: var(--dl-space-space-oneandhalfunits);
    height: 555px;
  }
  .home-card {
    width: 343px;
    height: 578px;
    padding: var(--dl-space-space-unit);
  }
  .home-text23 {
    font-size: 16px;
  }
  .home-card1 {
    width: 330px;
    height: 559px;
    padding: var(--dl-space-space-unit);
  }
  .home-text38 {
    font-size: 20px;
  }
  .home-card2 {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    align-items: center;
  }
  .home-header4 {
    font-size: 32px;
    text-align: center;
  }
  .home-description {
    width: 548px;
    height: 101px;
    font-size: 19px;
    text-align: center;
    line-height: 21px;
  }
  .home-link12 {
    margin-top: 0px;
  }
  .home-buy1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content3 {
    height: 573px;
    padding-top: var(--dl-space-space-threeunits);
  }
  .home-main1 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .home-header5 {
    font-size: 36px;
    line-height: 43px;
  }
  .home-caption4 {
    width: 472px;
    font-size: 19px;
    line-height: 24px;
  }
  .home-footer {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-main2 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-heading5 {
    gap: var(--dl-space-space-unit);
  }
  .home-logo2 {
    font-size: 20px;
    line-height: 24px;
  }
  .home-caption5 {
    width: 80%;
    font-size: 12px;
    line-height: 18px;
  }
  .home-links {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    justify-content: flex-start;
  }
  .home-list {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align: center;
  }
  .home-text02 {
    font-weight: 800;
  }
  .home-navbar {
    width: 100vw;
    height: 68px;
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    height: 320px;
    position: relative;
  }
  .home-heading {
    width: 386px;
    height: 329px;
  }
  .home-header {
    color: rgb(255, 255, 255);
    width: auto;
    height: 150px;
    font-size: 53px;
    max-width: 100%;
    font-style: normal;
    font-weight: 700;
    line-height: 69px;
  }
  .home-caption {
    color: rgb(255, 255, 255);
    width: 395px;
    height: 123px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .home-image03 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
    margin: auto;
  }
  .home-buttons {
    left: auto;
    width: 300px;
    bottom: auto;
    height: auto;
    position: relative;
    margin-top: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
  }
  .home-view1 {
    width: 150px;
    height: 40px;
    font-size: 12px;
    padding-top: 10px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    text-decoration: none;
  }
  .home-view2 {
    width: 160px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(145, 84, 247);
  }
  .home-learn {
    display: none;
    font-size: 12px;
  }
  .home-container04 {
    width: 408px;
    justify-content: space-between;
  }
  .home-image04 {
    width: 100px;
  }
  .home-image05 {
    width: 100px;
  }
  .home-image06 {
    width: 100px;
  }
  .home-container05 {
    width: 408px;
    height: 140px;
    justify-content: space-between;
  }
  .home-image07 {
    width: 100px;
  }
  .home-image08 {
    width: 97px;
    height: 18px;
  }
  .home-image09 {
    width: 100px;
  }
  .home-header1 {
    color: rgb(255, 255, 255);
    width: 343px;
    height: 229px;
    font-size: 2.7rem;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .home-header2 {
    color: rgb(255, 255, 255);
    height: auto;
  }
  .home-view3 {
    height: 108px;
  }
  .home-image11 {
    display: none;
  }
  .home-buy {
    width: 411px;
    height: 414px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
  }
  .home-content1 {
    width: 425px;
    height: 414px;
  }
  .home-main {
    height: 225px;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text20 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-view4 {
    font-size: 14px;
    background-color: #fdaf0f;
  }
  .home-view5 {
    font-size: 14px;
    background-color: #9154f7;
  }
  .home-image12 {
    width: 100%;
  }
  .home-heading3 {
    height: 96px;
    font-size: 2.7rem;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-tokenomics {
    width: 100%;
  }
  .home-row {
    width: auto;
    height: 314px;
  }
  .home-column {
    width: 190px;
  }
  .home-card {
    width: 170px;
    height: 343px;
  }
  .home-text23 {
    font-size: 16px;
  }
  .home-column1 {
    width: 50%;
  }
  .home-card1 {
    width: 189px;
    height: 371px;
    justify-content: center;
  }
  .home-text38 {
    font-size: 20px;
  }
  .home-card2 {
    height: 361px;
  }
  .home-content2 {
    width: 100%;
    height: 265px;
  }
  .home-description {
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    font-size: 19px;
    line-height: 27px;
  }
  .home-buy1 {
    width: 416px;
    height: 780px;
    margin-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-content3 {
    width: auto;
    height: 742px;
  }
  .home-caption4 {
    width: auto;
    height: auto;
    font-size: 19px;
    line-height: 32px;
  }
  .home-text47 {
    font-size: 1.1rem;
  }
  .home-text50 {
    text-transform: none;
  }
  .home-text56 {
    font-size: 1.1rem;
  }
  .home-footer {
    width: 100%;
    height: auto;
  }
  .home-container07 {
    height: 114px;
  }
  .home-caption5 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 18px;
  }
  .home-text61 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
}
